.about {
  padding-top: 28px;
  padding-bottom: 30px;
  background-color: $color-white;
}

// .about__title {
//
// }

.about__list {
  @include list-reset;
}

.about__item {
  padding-top: 86px;
  position: relative;

  &:nth-child(1) {
    padding-right: 90px;

    &::before {
      position: absolute;
      content: "";
      top: 32px;
      left: 8px;
      width: 32px;
      height: 37px;
      background-image: url("../../img/icon-feature-flower.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &:nth-child(2) {
    padding-right: 63px;

    &::before {
      position: absolute;
      content: "";
      top: 30px;
      left: 0;
      width: 47px;
      height: 27px;
      background-image: url("../../img/icon-feature-money.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &:nth-child(3) {
    padding-right: 82px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 34px;
      height: 27px;
      background-image: url("../../img/icon-feature-heart.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &:nth-child(4) {
    padding-right: 38px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 35px;
      height: 34px;
      background-image: url("../../img/icon-feature-ball.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &:nth-child(5) {
    padding-right: 10px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 55px;
      height: 23px;
      background-image: url("../../img/icon-feature-rocket.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &:nth-child(6) {
    padding-right: 46px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 33px;
      height: 32px;
      background-image: url("../../img/icon-feature-gift.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.about__text {
  @include ma-pa-reset;
  line-height: 20px;
  color: $color-black;
}
