.comments {
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: $color-white;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
  }
}

.comments__title {
  margin-bottom: 35px;
}

.comments__link {
  width: 100%;
}

.comments__slider {
  @include list-reset;
}

// .comments__slide {
//
// }

// .comments__slide--1 {
//
// }

.comments__body {
  @include display-flex-column;
}

.comments__text {
  @include ma-pa-reset;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text;
}

.comments__author {
  margin-bottom: 15px;
  line-height: 21px;
  color: $color-black;
}

.comments__mail {
  margin-bottom: 35px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text;
}

.comments__btn-group {
  @include display-flex-start;
  margin-bottom: 38px;
}

.comments__btn {
  height: 52px;
  width: 50%;
  border: 1px solid $color-grey;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }

  &--prev {
    &::before {
      background-image: url("../../img/icon-left-arrow.svg");
    }
  }

  &--next {
    &::before {
      background-image: url("../../img/icon-right-arrow.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .comments {
    padding-top: 86px;
  }

  .comments__title {
    margin-bottom: 65px;
  }

  .comments__text {
    padding-right: 25px;
    margin-bottom: 70px;
    font-size: 17px;
  }

  .comments__btn-group {
    width: 167px;
    position: absolute;
    top: 370px;
    right: 50px;
  }

  .comments__btn {
    border: none;
  }

  .comments__link {
    position: absolute;
    top: 79px;
    right: 50px;
    width: 175px;
  }
}
