.comments {
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: $color-white;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
  }
}

.comments__title {
  margin-bottom: 25px;
}

.comments__link {
  width: 100%;
}

.comments__slider {
  @include list-reset;
}

// .comments__slide {
//
// }

// .comments__slide--1 {
//
// }

.comments__body {
  @include display-flex-column;
}

.comments__text {
  @include ma-pa-reset;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text;
}

.comments__author {
  margin-bottom: 4px;
  line-height: 24px;
  color: $color-black;
}

.comments__mail {
  margin-bottom: 33px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text;
}

.comments__btn-group {
  @include display-flex-start;
  margin-bottom: 38px;
}

.comments__btn {
  height: 52px;
  width: 50%;
  border: 1px solid $color-grey;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }

  &--prev {
    &::before {
      background-image: url("../../img/icon-left-arrow.svg");
    }
  }

  &--next {
    &::before {
      background-image: url("../../img/icon-right-arrow.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .comments {
    padding-top: 77px;
    padding-bottom: 101px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    &::after {
      height: 15px;
    }
  }

  .comments__title {
    margin-bottom: 48px;
  }

  .comments__text {
    padding-right: 25px;
    margin-bottom: 59px;
    font-size: 17px;
  }

  .comments__author {
    margin-bottom: 6px;
    font-size: 18px;
  }

  .comments__mail {
    font-size: 18px;
  }

  .comments__btn-group {
    width: 137px;
    position: absolute;
    top: 370px;
    right: 71px;
    justify-content: space-between;
  }

  .comments__btn {
    border: none;
    padding: 0;
    height: 26px;
    width: 50px;
  }

  .comments__link {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .comments {
    background-image: none;

    &::after {
      height: 15px;
    }
  }

  .comments .container {
    position: relative;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50px 0;
  }

  .comments__title {
    margin-left: 175px;
  }

  .comments__slider {
    margin-left: 175px;
  }
}
