.develop {
  padding-top: 19px;
  padding-bottom: 30px;
  background-color: $color-white-dark;
}

.develop__link {
  @include link-reset;
  @include display-flex-start;
  justify-content: center;

  &:active .develop__text {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    outline: none;

    & svg {
      fill: $color-green-alternative;
    }
  }

  &:active svg {
    fill: $color-green-alternative;
    opacity: 0.3;
  }
}

.develop__text {
  margin-top: 4px;
  margin-right: 28px;
  font-size: 19px;
  line-height: 19px;
  color: $color-black;
  vertical-align: top;
}

.develop__link svg {
  width: 27px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .develop {
    padding-top: 11px;
    padding-bottom: 0;
    background-color: none;
  }

  .develop__text {
    margin-top: 0;
  }
}
