.email {
  margin-bottom: 34px;
  position: relative;

  .container {
    position: relative;
  }
}

.email__title {
  margin-bottom: 6px;

  &::after {
    margin-left: 23px;
  }
}

.email__label {
  position: absolute;
  content: "";
  top: 33px;
  right: 4px;
}

.email__label svg {
  width: 32px;
  height: 32px;
  opacity: 0.2;
}

.email__input:hover + .email__label svg {
  opacity: 1;
  fill: $color-green;
}

.email__input:focus + .email__label svg {
  opacity: 1;
  fill: $color-green-alternative;
}

.email__input {
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 17px;
  border: none;
  box-shadow: 0 2px 0 0 $color-black;
  line-height: 18px;
  font-weight: 400;
  color: $color-text;

  &:placeholder {
    line-height: 18px;
    font-weight: 400;
    color: rgba($color-text, 0.3);
  }

  &:hover {
    box-shadow: 0 2px 0 0 $color-green;
  }

  &:focus {
    box-shadow: 0 2px 0 0 $color-green-alternative;
  }
}

@media (min-width: $tablet-width) {
  .email {
    background-color: $color-white-dark;
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 52px;

    & .container {
      position: relative;
      @include display-flex-start;
      justify-content: space-between;
    }
  }

  .email__title {
    width: 167px;
    margin-bottom: 0px;
    margin-top: 17px;
  }

  .email__label {
    position: absolute;
    content: "";
    top: 12px;
    right: 22px;
  }

  .email__input {
    width: 501px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: $color-white-dark;
    font-size: 19px;

    &:placeholder {
      line-height: 18px;
      font-size: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .email {
    & .container {
      justify-content: flex-start;
    }
  }

  .email__title {
    text-align: center;
  }

  .email__label {
    position: absolute;
    content: "";
    top: 12px;
    right: 229px;
  }

  .email__input {
    width: 700px;
    margin-left: 9px;
  }
}
