.form {
  padding-top: 23px;
  padding-bottom: 55px;
  background-color: $color-white;
}

.form__slogan {
  @include ma-pa-reset;
  padding-right: 3px;
  margin-bottom: 24px;
  font-size: 13px;
  font-weight: 400;
  color: $color-text;
}

.form__fieldset {
  @include ma-pa-reset;
  border: none;
}

.fieldset-legend {
  @include ma-pa-reset;
  line-height: 17px;
  color: $color-green;
  text-transform: uppercase;
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    top: 8px;
    width: 100%;
    height: 1px;
    background-color: $color-green;
  }
}

.form__text {
  @include ma-pa-reset;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-text;
}

.form__label {
  display: block;
  color: $color-black;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  cursor: pointer;
}

.form__btn {
  width: 100%;
}


@media (min-width: $tablet-width) {
  .form {
    padding-top: 67px;
    padding-bottom: 51px;
    position: relative;
    z-index: 2;
    @include display-flex-start;
    flex-wrap: wrap;

    .container {
      &--text {
        @include display-flex-start;
        justify-content: space-between;
      }
    }
  }

  .form__slogan {
    padding-right: 0;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form__fieldset {
    width: 100%;
  }

  .fieldset-legend {
    &::after {
      display: none;
    }
  }

  .form__text {
    order: 2;
    width: 50%;
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
  }

  .form__label {
    font-size: 19px;
  }

  .form__btn {
    order: 1;
    width: 230px;
    line-height: 17px;
    padding-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-top: 116px;
    padding-bottom: 50px;

    .container {
      padding-left: 50px;
      padding-right: 50px;

      &--text {
        padding-left: 225px;
        padding-right: 225px;
      }
    }
  }

  .form__slogan {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .form__text {
    margin-top: 8px;
  }

  .form__btn {
    width: 230px;
    padding-top: 15px;
  }
}
