.goods {
  padding-top: 27px;
  padding-bottom: 41px;
  background-color: $color-white;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
  }
}

.goods__title {
  margin-bottom: 3px;
}

.goods__subtitle {
  display: block;
  margin-bottom: 25px;
  line-height: 20px;
  color: $color-green;
  text-transform: uppercase;
}

.goods__col {
  &--right {
    position: absolute;
    width: 260px;
    height: 315px;
    left: 50%;
    transform: translateX(-50%);
    top: 343px;
  }
}

.goods__desc {
  @include ma-pa-reset;
  padding-right: 11px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 400;
  color: $color-text;
}

.goods__table {
  margin-bottom: 364px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: $color-text;
}


.goods__field {
  width: 98px;/*_____________*/
  padding: 0;
  border-bottom: 1px solid $color-grey;
  padding-top: 14px;
  padding-bottom: 11px;
}

.goods__value {
  width: 162px;/*_____________*/
  padding: 0;
  border-bottom: 1px solid $color-grey;
  padding-top: 14px;
  padding-bottom: 11px;
}

tr:nth-child(2) td.goods__field,
tr:nth-child(2) td.goods__value {
  padding-top: 8px;
}

tr:nth-child(3) td.goods__field,
tr:nth-child(3) td.goods__value {
  padding-top: 8px;
}

.goods__img {
  display: block;
  width: 260px;
  height: 315px;
}

.goods__price {
  @include ma-pa-reset;
  margin-bottom: 27px;
  color: $color-text;
  text-align: center;
}

.goods__link {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .goods {
    padding-top: 41px;
    padding-bottom: 68px;

    &::after {
      height: 15px;
    }
  }

  .goods .container {
    display: flex;
    flex-wrap: wrap;
  }

  .goods__title {
    margin-bottom: 48px;
    margin-right: auto;
    width: auto;
  }

  .goods__subtitle {
    width: 70px;
    margin-bottom: 0;
    margin-top: 12px;
    margin-right: 30px;
    line-height: 17px;
    text-align: center;

  }

  .goods__col {
    &--left {
      width: 50%;
      padding-right: 44px;
    }

    &--right {
      position: static;
      width: 50%;
      height: auto;
      left: 0;
      transform: translateX(0);
      top: 0;
      padding-top: 9px;
    }
  }

  .goods__desc {
    padding-right: 0;
    margin-bottom: 43px;
    font-size: 17px;
    line-height: 30px;
  }

  .goods__table {
    margin-bottom: 52px;
    font-size: 15px;
    line-height: 20px;
  }

  .goods__field {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .goods__value {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .goods__img {
    width: 333px;
    height: 404px;
  }

  .goods__price {
    margin-bottom: 35px;
    font-size: 20px;
  }

  .goods__link {
    width: 100%;
  }

  .goods__img {
    width: 333px;
    height: 404px;
  }
}

@media (min-width: $desktop-width) {
  .goods {
    padding-top: 68px;
    padding-bottom: 95px;

    &::after {
      height: 23px;
    }
  }

  .goods .container {
    position: relative;
  }

  .goods__title {
    order: 4;
    width: auto;
    margin-bottom: 0;
    margin-right: 0;
    position: absolute;
    top: 52px;
    left: 220px;
    z-index: 2;
  }

  .goods__subtitle {
    order: 1;
    margin-bottom: 0;
    margin-top: 68px;
    margin-right: 58px;
    margin-left: 47px;
  }

  .goods__col {
    &--left {
      order: 2;
      width: 350px;
      padding-right: 0;
      margin-top: 157px;
    }

    &--right {
      order: 3;
      width: auto;
      padding-top: 0;
    }
  }

  .goods__desc {
    margin-bottom: 56px;
    padding-right: 54px;
  }

  .goods__table {
    margin-bottom: 105px;
  }

  .goods__price {
    text-align: left;
    padding-left: 72px;
    margin-bottom: 35px;
    font-size: 20px;
  }

  .goods__link {
    width: 292px;
    margin: 0;
  }

  .goods__img {
    width: 525px;
    height: 636px;
  }
}
