.link {
  @include link-reset;
  display: block;
  background-color: $color-white;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid $color-text;
  line-height: 20px;
  color: $color-text;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-text;
    border: 2px solid $color-text;
    color: $color-white;
  }

  &:active {
    background-color: $color-text;
    border: 2px solid $color-text;
    color: rgba($color-white, 0.3);
  }
}
