.logo {
  display: block;
  width: 86px;
  height: 35px;
}

a.logo[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo--main-header {
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 116px;
  margin-right: auto;
}

.logo__img {
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .logo {
    position: absolute;
    top: 22px;
    left: 50px;
  }

  .logo--main-header {
    margin: 0;
  }

  .logo__img {
    width: 112px;
    height: 46px;
  }
}
