.logo {
  display: block;
  width: 86px;
  height: 35px;
}

a.logo[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo--main-header {
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 116px;
  margin-right: auto;
}

.logo__img {
  width: 86px;
  height: 35px;
}

.logo--main-footer {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo--main-header {
    width: 112px;
    height: 46px;
    margin: 0;
  }

  .logo__img {
    width: 112px;
    height: 46px;
  }

  .logo--main-footer {
    display: block;
    margin-right: 124px;
    width: 102px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 149px;
    height: 72px;
  }

  .logo__img {
    width: 149px;
    height: 72px;
  }

  .logo--main-footer {
    margin-right: 315px;
    margin-left: 50px;
    position: static;
    top: 0;
    left: 0;
    width: 102px;
    height: 34px;
    transform: translateX(0);
  }
}
