.main-header {
  background-color: $color-white;
}

.main-header__bar {
  @include display-flex-start;
  background-color: $color-white;
}

.main-header__btn {
  width: 20px;
  height: 21px;
  margin-top: 29px;
  margin-right: 30px;
  border: none;
  // background-color: transparent;
  background-color: $color-black;
}
