.main-header {
  background-color: $color-white;

  & .container {
    width: 320px;
  }
}

.main-header__bar {
  @include display-flex-start;
  background-color: $color-white;
}

.main-header__text {
  display: none;
}

.main-header__link-group {
  display: none;
}

.main-header__btn {
  width: 20px;
  height: 21px;
  margin-top: 29px;
  margin-right: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  &--no-js {
    display: none;
  }

  &--close {
    background-image: url("../../img/icon-menu-close.svg");
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      top: 88px;
      bottom: 0;
      background-color: $color-white-dark;
    }

    &--index::before {
      background-color: #f9f9f9;
      bottom: 122px;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -7px;
      left: 0;
      z-index: 4;
      width: 100%;
      height: 22px;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 0 0;
    }

    & .container {
      width: 668px;
      position: relative;
    }
  }

  .main-header__bar {
    position: absolute;
    top: 22px;
  }

  .main-header__text {
    @include ma-pa-reset;
    display: block;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 106px;
    right: 0;
    z-index: 3;
  }

  .main-header__btn {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    & .container {
      width: $desktop-width;
    }

    &::after {
      height: 34px;
      bottom: -14px;
    }

    &::before {
      background-color: $color-white;
    }
  }

  .main-header__bar {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-header__link-group {
    display: block;
    position: absolute;
    z-index: 3;
    top: 105px;
    left: 50px;
  }

  .main-header__link {
    @include link-reset;
    font-size: 15px;
    color: $color-black;

    &--arrival {
      margin-right: 56px;
    }

    &:focus,
    &:hover {
      opacity: 0.6;
      outline: none;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-header__text {
    right: 50px;
  }
}
