.modal {
  display: none;
  width: 100%;
  max-width: 566px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 34px;
  padding-bottom: 46px;
  background-color: $color-white;
  border: 1px solid $color-grey;
  box-shadow: 0 10px 10px rgba($color-black, 0.25);
  z-index: 6;

  &--show {
    display: block;
  }
}

.modal__title {
  @include ma-pa-reset;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
  text-align: center;
}

.modal__text {
  @include ma-pa-reset;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text;
  text-align: center;
}

.modal__list {
  @include list-reset;
  @include display-flex-start;
  justify-content: center;
  margin-bottom: 31px;
}

.modal__item {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.modal__input:focus + .modal__label {
  color: $color-text;
  border: 2px solid rgba($color-text, 0.3);
  background-color: $color-white;
  outline: none;

  &:active + .modal__label {
    color: $color-text;
    background-color: $color-white;
    border: 2px solid $color-green;
  }
}

.modal__label {
  width: 82px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: $color-text;
  border: 2px solid rgba($color-text, 0.1);

  &:hover {
    color: $color-text;
    border: 2px solid rgba($color-text, 0.3);
    background-color: $color-white;
  }

  &:active {
    color: $color-text;
    background-color: $color-white;
    border: 2px solid $color-green;
  }
}

.modal__btn {
  width: 100%;
  line-height: 17px;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-green;
  border: 2px solid $color-green;
  padding-top: 18px;
  padding-bottom: 17px;

  &:hover,
  &:focus {
    background-color: $color-text;
    border: 2px solid $color-text;
    color: $color-white;
    outline: none;
  }

  &:active {
    background-color: $color-text;
    border: 2px solid $color-text;
    color: rgba($color-white, 0.3);
  }
}

.modal__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-white, 0.9);
  z-index: 5;

  &--show {
    display: block;
  }
}


@media (min-width: $tablet-width) {
  .modal {
    width: 566px;

    & .container {
      width: 100%;
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
    text-transform: uppercase;
  }

  .modal__text {
    font-size: 17px;
  }
}
