.personal {
  padding-bottom: 34px;
}

.personal__title {
  margin-bottom: 30px;

  &::after {
    margin-left: 20px;
  }
}

.personal__list {
  @include list-reset;
}

.personal__item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.personal__input-label {
  padding-left: 0;
}

.personal__input {
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 17px;
  border: none;
  box-shadow: 0 2px 0 0 $color-black;
  line-height: 18px;
  font-weight: 400;
  color: $color-text;

  &:placeholder {
    line-height: 18px;
    font-weight: 400;
    color: rgba($color-text, 0.3);
  }

  &:hover {
    box-shadow: 0 2px 0 0 $color-green;
  }

  &:focus {
    box-shadow: 0 2px 0 0 $color-green-alternative;
  }
}

@media (min-width: $tablet-width) {
  .personal {
    padding-top: 65px;
    padding-bottom: 34px;

    & .container {
      @include display-flex-start;
      justify-content: space-between;
    }
  }

  .personal__title {
    width: 167px;
    margin-top: 2px;
    margin-bottom: 0;
  }

  .personal__list {
    width: 501px;
  }

  .personal__item {
    margin-bottom: 24px;
    min-height: 52px;
    @include display-flex-start;
  }

  .personal__input-label {
    padding-left: 0;
    padding-top: 0;
    margin-right: 25px;
  }

  .personal__input {
    padding: 0;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 19px;

    &:placeholder {
      font-size: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .personal {
    & .container {
      @include display-flex-start;
      justify-content: flex-start;
    }
  }

  .personal__title {
    text-align: center;
  }

  .personal__list {
    width: 708px;
    padding-left: 9px;
  }
}
