.production {
  background-color: $color-white;
  padding-bottom: 58px;
  padding-left: 30px;
  padding-right: 30px;
}

.production .container {
  padding-bottom: 33px;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid $color-grey;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
  }
}

.production__item-title {
  @include ma-pa-reset;
  margin-bottom: 24px;
  padding-top: 22px;
  padding-left: 88px;
  color: $color-black;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 28px;
    left: 33px;
    width: 32px;
    height: 32px;
    background-image: url("../../img/icon-video.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.production__media {
  margin-bottom: 27px;
  position: relative;
}

.production__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 150px;
}

.production__btn {
  width: 101px;
  height: 77px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../img/icon-play.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.2s;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.production__item-desc {
  @include ma-pa-reset;
  padding-left: 34px;
  padding-right: 34px;
  margin-bottom: 25px;
  font-size: 13px;
  font-weight: 400;
  color: $color-text;
}

.production__link {
  width: 192px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {

}
