.production {
  background-color: $color-white;
  padding-bottom: 58px;
  padding-left: 30px;
  padding-right: 30px;
}

.production .container {
  padding-bottom: 33px;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid $color-grey;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
  }
}

.production__item-title {
  @include ma-pa-reset;
  margin-bottom: 24px;
  padding-top: 22px;
  padding-left: 88px;
  color: $color-black;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 28px;
    left: 33px;
    width: 32px;
    height: 32px;
    background-image: url("../../img/icon-video.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.production__media {
  margin-bottom: 27px;
  position: relative;
}

.production__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 150px;
}

.production__btn {
  width: 101px;
  height: 77px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../img/icon-play.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.2s;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
    outline: none;
  }

  &:active {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.production__item-desc {
  @include ma-pa-reset;
  padding-left: 34px;
  padding-right: 34px;
  margin-bottom: 25px;
  font-size: 13px;
  font-weight: 400;
  color: $color-text;
}

.production__link {
  width: 192px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .production {
    padding-bottom: 62px;
    padding-left: 0;
    padding-right: 0;
  }

  .production .container {
    @include display-flex-start;
    padding-bottom: 46px;
    flex-wrap: wrap;
  }

  .production__item-title {
    order: 2;
    margin-bottom: 32px;
    margin-top: 37px;
    padding-top: 0;
    padding-left: 105px;
    font-size: 20px;
    position: relative;

    &::before {
      top: -4px;
      left: 41px;
      width: 32px;
      height: 32px;
    }
  }

  .production__media {
    order: 1;
    width: 100%;
    height: 455px;
    margin-bottom: 0;
    position: relative;
  }

  .production__img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 455px;
  }

  .production__item-desc {
    order: 3;
    padding-left: 39px;
    padding-right: 39px;
    margin-bottom: 36px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__link {
    order: 4;
    width: 584px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .production {
    padding-bottom: 105px;
  }

  .production .container {
    width: 1050px;
    padding-bottom: 0;
    padding-left: 759px;
    flex-direction: column;
    position: relative;
  }

  .production__item-title {
    order: 2;
    margin-bottom: 34px;
    margin-top: 0;
    padding-top: 95px;
    padding-left: 0;
    padding-right: 52px;
    position: relative;

    &::before {
      top: 42px;
      left: 2px;
      right: 255px;
      width: 32px;
      height: 32px;
    }
  }

  .production__item-desc {
    order: 3;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 46px;
  }


  .production__media {
    order: 1;
    width: 682px;
    height: 455px;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  .production__link {
    order: 4;
    width: 230px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
}
