.promo {
  padding-top: 68px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 76px;
  background-color: $color-grey;
}

.promo--index {
  padding-bottom: 125px;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}


.promo__title {
  text-align: center;
  font-size: 27px;
}
