.promo {
  padding-top: 76px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 76px;
  background-color: $color-grey;
}

.promo--index {
  padding-bottom: 120px;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}


.promo__title {
  text-align: center;
}
