.social {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid $color-grey;
}

.social__list {
  @include list-reset;
  @include display-flex-start;
  justify-content: center;
}

.social__item {
  margin-right: 40px;

  &:nth-child(1) {
    margin-top: 4px;
    margin-left: 35px;
  }

  &:nth-child(3) {
    margin-top: 5px;
  }
}

.social__link:hover,
.social__link:focus {
  outline: none;

  & svg {
    fill: $color-green-alternative;
  }
}

.social__link:active {
  & svg {
    fill: $color-green-alternative;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    border-bottom: none;
    margin-right: 44px;
  }

  .social__list {
    margin-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-right: 234px;
  }
}
