.textarea {
  margin-bottom: 15px;
}

.textarea__title {
  margin-bottom: 24px;

  &::after {
    margin-left: 25px;
  }
}

.textarea__field {
  @include ma-pa-reset;
  width: 100%;
  min-height: 142px;
  border: 2px solid $color-text;
  background-color: $color-white;
  padding: 14px 14px;
  line-height: 18px;
  font-weight: 400;
  color: $color-text;

  &:placeholder {
    line-height: 18px;
    font-weight: 400;
    color: rgba($color-text, 0.3);
  }

  &:hover {
    border: 2px solid $color-green;
  }

  &:focus {
    border: 2px solid $color-green-alternative;
  }
}

@media (min-width: $tablet-width) {
  .textarea {
    padding-top: 50px;
    padding-bottom: 53px;
    margin-bottom: 0;

    & .container {
      @include display-flex-start;
      justify-content: space-between;
    }
  }

  .textarea__title {
    width: 167px;
    margin-top: 17px;
    margin-bottom: 24px;
  }

  .textarea__field {
    width: 501px;
    min-height: 142px;
    padding: 14px 14px;
    font-size: 19px;

    &:placeholder {
      font-size: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .textarea {
    padding-bottom: 49px;

    & .container {
      @include display-flex-start;
      justify-content: flex-start;
    }
  }

  .textarea__title {
    text-align: center;
  }

  .textarea__field {
    width: 700px;
    margin-left: 9px;
  }
}
