.type {
  padding-bottom: 30px;
}

.type__title {
  margin-bottom: 24px;

  &::after {
    margin-left: 25px;
  }
}

.type__list {
  @include list-reset;
}

.type__item {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.type__input-label {
  min-height: 40px;
  padding-left: 62px;
  padding-top: 8px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid $color-text;
    background-color: $color-white;
  }

  &:hover::before {
    border: 2px solid $color-green;
  }

  &:active::before {
    border: 2px solid rgba($color-text, 0.3);
  }
}

.type__input-radio:checked ~ .type__input-label::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-green;
}

.type__input-radio:disabled ~ .type__input-label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid rgba($color-text, 0.3);
  background-color: $color-white;
}

.type__input-radio:disabled:checked ~ .type__input-label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid rgba($color-text, 0.3);
  background-color: $color-white;
}

.type__input-radio:disabled:checked ~ .type__input-label::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba($color-text, 0.3);
}

@media (min-width: $tablet-width) {
  .type {
    padding-top: 58px;
    padding-bottom: 50px;

    .container {
      @include display-flex-start;
    }
  }

  .type__title {
    width: 167px;
    margin-top: 17px;
    margin-bottom: 0;
  }

  .type__list {
    margin-bottom: 0;
  }

  .type__item {
    margin-bottom: 24px;
  }

  .type__input-label {
    padding-top: 15px;
    padding-left: 79px;
    min-height: 52px;

    &::before {
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
    }
  }

  .type__input-radio:checked ~ .type__input-label::after {
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 20px;
    height: 20px;
  }

  .type__input-radio:disabled ~ .type__input-label::before {
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
  }

  .type__input-radio:disabled:checked ~ .type__input-label::before {
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
  }

  .type__input-radio:disabled:checked ~ .type__input-label::after {
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .type__title {
    text-align: center;
  }

  .type__list {
    padding-left: 9px;
  }
}
